{% extends 'base.html' %} {% load staticfiles%} {% block content %}


<div class="row">
    <div class="col-12 col-md-6">
        <h1>{{ object.title }}</h1>
        <h3>{{ "some title here"|title }}</h3>
        <h5>{{ object.timestamp|date }}</h5>
        <!-- <h5>{{ object.timestamp_pretty }}</h5> -->
        <!-- <h6>{{ object.timestamp|timesince }} ago</h6> -->
        <br/>
        <br/> {% if object.image %}
        <img src="{{ object.image.url }}" class="img-fluid"> {% endif %}
        <br/>
        <br/>
        <p>{{ object.description|linebreaks }}</p>
    </div>
    <div class="col-12 col-md-6">
        {% include 'products/snippets/update-cart.html' with product=object cart=cart %}
    </div>
</div>


{% endblock %}