{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>FarangRoll</title>
    {% include 'base/css.html' %}
    <!-- {% block base_head %}{% endblock %} -->

</head>

<body>

    <header>
        <h1>{{ brand_name }}</h1>
    </header>